#contactUsSection {
    background-color: #f0e5bb82;
}

#contactUsSection .container {
    width: 100%;
}

.gmaps-widget {
    height: 400px;
    /* The height is 400 pixels */
}

.contact-infos {
    padding: 1.5rem;
}

.info {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    padding: 0.4rem 0;
}

@media only screen and (min-width: 576px) {
    .info {
        font-size: 1rem;
    }
}

