#contact {
    background-color: #f0e5bb82;
}

#contact .container {
    width: 100%;
}

.gmaps-widget {
    height: 400px;
    /* The height is 400 pixels */
}

.contact-infos {
    display: block;
    margin: auto;
    padding: 1.5rem;
}

.info {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    padding: 0.4rem 0;
}

#contact .contact-buttons-row.row {
    margin: 0;
}

.contact-buttons-row .col {
    max-width: fit-content;
    max-width: -moz-fit-content;
}

.contact-buttons-row button {
    display: block;
    margin: 0 auto;
}

@media only screen and (min-width: 576px) {
    .info {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 968px) {
    #contact .row {
        margin-top: 2rem;
    }
}

