#landingSection {
    background:linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("/public/assets/landing-main-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

button.order-btn {
    margin: 0rem;
}

