#landingSection {
    background:linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("/public/assets/landing-main-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#landingSection .container .row {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

button.order-btn {
    margin: 0rem;
}

