#productSection {
    background-color: #46f6ff21;
}

#productSection .container .inner-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.main-product-img {
    max-width: inherit;
}

/* .product-buttons-row {
    padding: 0 2rem;
} */

.product-buttons-row button {
    display: block;
    margin: 0 auto;
}