h1, h2, h3, h4 {
  font-family: 'Fredoka One', cursive;
}

h1 {
  color: #489d58;
}

h2 {
  color: #e7b73e;
  font-size: 1rem;
}

h3 {
  font-size: 0.9rem;;
}

h4 {
  font-size: 0.8rem;
  color:darkgrey;
}

.logo {
  max-width: 8em;
}