h1, h2, h3, h4 {
  font-family: 'Fredoka One', cursive;
}

h1 {
  color: #489d58;
}

h2 {
  color: #e7b73e;
  font-size: medium;
  
}

h3 {
  font-size: small;;
}

h4 {
  font-size: x-small;
}

.logo {
  max-width: 8em;
}